* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

@keyframes palpitar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.bg-pages {
  background: linear-gradient(19deg, #ff282e 0%, #080a0b 74%);
}

.container-global, .container-pages {
  display: grid;
  grid-template-areas: "header header " "main main " "footer footer ";
  grid-template-rows: 150px 1fr 150px;
  min-height: 100vh;
}
.container-global .header, .container-pages .header {
  grid-area: header;
  background-color: #080a0b;
}
.container-global .main, .container-pages .main {
  background-color: #080a0b;
  grid-area: main;
  position: relative;
  min-height: 100vh;
}
.container-global .footer, .container-pages .footer {
  grid-area: footer;
  background-color: #080a0b;
  border-top: 2px solid #212529;
}

.main-pages {
  min-height: 100vh;
}
.main-pages .bio-section h1 {
  color: white;
  text-shadow: 0px 0px 2px #c1baa1;
  font-size: 42px;
  font-family: "Press Start 2P", system-ui;
}
.main-pages .bio-section p {
  background-color: rgba(8, 10, 11, 0.1);
  color: #c62e2e;
  padding: 20px;
  text-align: center;
  text-shadow: 0px 0px 3px rgb(238, 0, 0);
}
.main-pages .objetives-info {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  border: transparent;
  padding: 20px;
}
.main-pages .objetives-info h3 {
  text-shadow: 0px 0px 2px #c62e2e;
  color: #c1baa1;
  text-align: left;
  font-size: 20px;
  font-family: "Savate", sans-serif;
}
.main-pages .objetives-info h4 {
  text-align: right;
  color: #c62e2e;
  text-shadow: 0px 0px 2px #c62e2e;
  font-size: 18px;
  font-family: "Edu VIC WA NT Hand", cursive;
}
.main-pages .objetives-info h5 {
  text-shadow: 0px 0px 2px #c62e2e;
  color: #c1baa1;
  text-align: left;
  font-size: 20px;
  font-family: "Tilt Prism", sans-serif;
}
.main-pages .objetives-info h6 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  color: #ff282e;
  text-shadow: 3px 2px 3px #ff282e;
  background-color: rgba(8, 10, 11, 0.3);
}
.main-pages .input-questions .body-form {
  display: flex;
  justify-content: center;
}
.main-pages .input-questions h2 {
  color: white;
  text-shadow: 0px 0px 2px #c1baa1;
  font-size: 28px;
  margin-top: 124px;
  padding-bottom: 12px;
}
.main-pages .input-questions .form-info {
  background-color: #080a0b;
  color: #c62e2e;
  width: 80%;
}
.main-pages .description-membresias h2, .main-pages .register-bio h2, .main-pages .questions-bio h2 {
  color: white;
  text-shadow: 0px 0px 2px #c1baa1;
  font-size: 34px;
  margin-left: 8px;
  font-family: "Press Start 2P", system-ui;
}
.main-pages .description-membresias p, .main-pages .register-bio p, .main-pages .questions-bio p {
  color: #c62e2e;
  padding: 4px;
  text-align: start;
  text-shadow: 0px 0px 3px rgb(238, 0, 0);
}
.main-pages .cards-membresias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
.main-pages .cards-membresias .card-mem {
  background-color: rgba(193, 186, 161, 0.7);
  padding: 20px;
  border: 7px ridge #c1baa1;
}
.main-pages .cards-membresias .card-mem a {
  background-color: #080a0b;
  border: #ff282e;
  color: #c62e2e;
}
.main-pages .cards-membresias .card-mem a:hover {
  background-color: #ff282e;
  color: #080a0b;
}
.main-pages .acordeon-questions {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.main-pages .acordeon-questions .acordeon-body {
  width: 358px;
}
.main-pages .form-register {
  padding: 20px;
}
.main-pages .label-font {
  font-family: "Press Start 2P", system-ui;
  text-shadow: 0px 0px 2px #c1baa1;
  color: #c1baa1;
}
.main-pages .btn-register {
  background-color: #080a0b;
  border: #ff282e;
  color: #c62e2e;
}
.main-pages .btn-register:hover {
  background-color: #ff282e;
  color: #080a0b;
}

.header img {
  height: 150px;
  width: 50%;
}
.header .navbar-mobile {
  display: flex;
  height: 80px;
  width: 50%;
  position: relative;
  left: 50%;
  bottom: 78%;
  background-color: rgba(128, 128, 128, 0.1);
}
.header .navbar-mobile a {
  color: red !important;
  text-shadow: 0px 0px 5px rgb(238, 0, 0);
}

.description-home, .box-recommend {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description-home h1, .box-recommend h1 {
  font-size: 35px;
  text-shadow: 3px 2px 0px rgba(139, 139, 139, 0.73);
  padding: 5px;
  border-radius: 10px;
  font-family: "Press Start 2P", system-ui;
}
.description-home p, .box-recommend p {
  font-size: 18px;
  display: flex;
  margin-top: 12px;
  text-align: center;
}

.background-image {
  position: absolute;
  z-index: 1 !important;
}
.background-image img {
  background-image: url("assets/aeag2xr9i2sc1.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  filter: blur(3px) brightness(40%);
  -webkit-filter: blur(3px) brightness(40%);
  -moz-filter: blur(3px) brightness(40%);
  object-fit: cover;
  clip-path: inset(1px);
}

.logos-div {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
  border-radius: 10px;
}
.logos-div .logos {
  height: 150px;
  width: 50%;
}

.box-recommend {
  box-shadow: 0px -43px 100px 0px #080a0b;
  margin-top: 66px;
  background: linear-gradient(19deg, #ff282e 0%, #080a0b 74%);
}
.box-recommend h3 {
  font-size: 18px;
  font-style: italic;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  background-color: rgba(255, 40, 46, 0.5);
  padding: 10px;
  border-radius: 30px;
}
.box-recommend span {
  display: flex;
  text-align: start;
  margin-top: 16px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 200;
  font-style: oblique;
  color: #ff282e;
}
.box-recommend ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  gap: 12px;
  list-style: none;
  text-decoration: underline;
}
.box-recommend button {
  width: 200px;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 12px;
  animation: palpitar 2.5s infinite;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-top: 42px;
}

.icons-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 5px;
  padding-top: 15px;
}
.icons-section div {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}
.icons-section .icons-footer {
  display: flex;
  font-size: 15px;
}
.icons-section .icons-footer span {
  margin-left: 5px;
}

/*# sourceMappingURL=styles.css.map */
